.App {
 
  height: 500px;
  width: 500px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #ffffcc;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button{
  size: 20px;
  margin: 5px;
  color: white;
  background-color: black;
}

.glow-box {
  width: 500px;    /* Set your desired width */
  height: 500px;   /* Set your desired height */
  overflow: hidden; /* Content that overflows will be hidden */
  border: 1px solid #000; /* Optional: Just to see the boundary of the div */
  padding: 20px 40px;
  background-color: #282c34; /* Your preferred background color for the div */
  color: white;
  font-size: 24px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 600px rgba(224, 26, 178, 0.6), /* Horizontal and vertical offset, blur radius, and color */
              0 0 50px rgba(30, 11, 126, 0.4), /* Another layer of glow */
              0 0 100px rgba(33, 120, 173, 0.3); /* Yet another layer of glow */
}